<% include ./partials/header %>

<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1><%= blog.title %></h1>
          <hr class="small">
          <span class="meta">Posted by <a href="#">Tor Andreas</a> on <%= blog.created.toDateString() %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbotron">
          <img class="img-responsive img-center" src="<%= blog.image %>">
        </div>
        <p><%= blog.body %></p>
        <a class="btn btn-info" href="/blogs/<%= blog._id %>/edit">Rediger post</a>
        <form id="deleteForm" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Slett post</button>
        </form>
      </div>
    </div>
  </div>
</article>

    <hr>

<% include ./partials/footer %>